@model CityModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.SiteLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.SiteEditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.SiteLabelFor(model => model.StateProvinceId)
                        </div>
                        <div class="col-md-9">
                            @Html.SiteDropDownListFor(model => model.StateProvinceId,  Model.Provinces)
                            @Html.ValidationMessageFor(model => model.StateProvinceId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>